*{
  scroll-behavior: smooth;
}
.home-container {
  margin: 0;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100vw;
    height: 100vh;
    /* border: 1px solid black; */
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}    
.landing-img{
  display: none;
}

.main-heading {
  color: #5050d6fb;
  font-size: 48px;
  text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
  margin-bottom: 10px;
}

.main-para{
  color:rgb(80, 94, 109);
  margin-top: 0;
}

.appointment-btn{
height:5vh;
width: fit-content;
background-color: #5050d6fb;
color:white;
border: none;
border-radius: 10px;
padding: 0px 8px 0px 8px;
}

@media screen and (min-width:768px) {
  .landing-img{
    display: block;
    height: 60vh;
    width: 60vw;
    max-width: 700px;
    max-height: 800px;
    min-width: 300px;
    min-height: 300px;
  }
}